/* Selected styles copied from Medieval QA site. Will need updating occasionally. */
body, html 
    {
    font-size: 16px;
    font-family: "PT Sans", sans-serif;   
    line-height: 22.85px;
    color: #333333;
    background-color: #ffffff;
    }

.tei-label, .label
    {
        font-weight: 600;
        height: 18px;
        line-height: 1.2rem;
        font-size: 1.13rem;
        color: #0D0D0D;
    }

.tei-italic
    {
        font-style: italic;
        color: #0D0D0D;
    }

.layoutDesc
    {
        margin: 10px 0;
    }

.super
    {
        position: relative;
        display: inline-block;
        font-size: small;
        color: #0D0D0D;
        top: -9px;
    }

.italic {
        line-height: 1.13rem;
        color: #0D0D0D;
        font-size: 1.13rem;
        font-style: italic;
    }

.bold, h4
    {
        font-weight: 600;
        color: #0D0D0D;
    }
    
h4
    {
        margin-top: 5px;
        margin-bottom: 5px;
    }

h1
    {
        font-size: 2rem;
        font-weight: 500;
    }
    
h3
    {
        font-size:1.5rem;
        font-weight: 500;
    }

.nestedmsItem {
        margin-left: 1rem;
        padding-bottom: 1rem;
        border-bottom: 1px solid #eaeaea;
        margin-bottom: 1rem;
        text-align: justify;
    }

p,.seg,.item,.head,.physDesc-p,.tei-title,.locus,.note,.decoNote-list,.decoNote
    {
        font-size: 1.13rem;
        color: #0D0D0D;
        line-height: 1.17rem;
        margin: 0 0 5px;
        text-align: justify;
    }

.msItem
    {
        border-bottom: 1px solid #eaeaea;
        margin-bottom: 1rem;
        padding-bottom: 1rem;
    }

.secFol .italic
    {
        font-style: normal;
    }
    
.support, .form, .extent, .dimensions, .foliation, .condition 
    {
        margin-top: 5px;
    }

p.note:last-of-type {
        margin: 0 0 0;
    }

.incipit,.explicit,.rubric, .finalRubric,.textLang, .origPlace,.secFol,.objectDesc,.additional,.colophon,.origin
    {
        font-size: 1.13rem;
        line-height: 1.15rem;
        color: #0D0D0D;
        text-align: justify;
        margin-bottom: 5px;
    }
.author,.bibl,.orgName,#zotero-bibliography-text,.origDate,.origPlace,.additions
    {
        font-size: 1.13rem;
        line-height: 1.15rem;
        margin-bottom: 5px;
    }
    
.physDesc, .history {
        text-align: justify;
    }
    
.additional ul.listBibl
    {
        padding: 0;
    }
